.container {
   border: 1px solid var(--neutral-grey-700);
   border-radius: 10px;
   padding: 10px 20px;
   margin-top: 10px;
   min-height: 200px;
   max-height: 500px;
}

.columnName {
   text-align: center;
   font-size: 24px;
   font-weight: 600;
}

.separator {
   height: 1px;
   background-color: var(--neutral-grey-700);
   margin: 10px auto 0;
   border: none;
   width: 100%;
}

.applicationsWrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   margin-top: 20px;
}
