.container {
   position: fixed;
   inset: 0;
   display: grid;
   place-items: center;
   background-color: rgba(0, 0, 0, 0.8);
   z-index: 10;
}

.clickBackground {
   position: absolute;
   inset: 0;
   background: transparent;
   border: none;
   cursor: default;
   z-index: 5;
}

.wrapper {
   background-color: var(--secondary);
   padding: 10px 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px 0 var(--primary);
   max-width: 95vw;
   max-height: 90vh;
   overflow-y: auto;
   z-index: 10;
}

.title {
   text-align: center;
}