.container {
   position: fixed;
   inset: 0;
   display: grid;
   place-items: center;
   background-color: rgba(0, 0, 0, 0.8);
}

.wrapper {
   background-color: var(--secondary);
   padding: 10px 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px 0 var(--primary);
   max-width: 95vw;
   max-height: 90vh;
   overflow-y: auto;
}

.title {
   text-align: center;
}