.authTypeBtnsWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   margin-top: 10px;
}

.formWrapper {
   margin-top: 20px;
   display: grid;
   grid-template-columns: auto;
   gap: 10px;
}

.inputWrapper {
   display: flex;
   flex-direction: column;
}

.label {
   font-size: 14px;
   color: var(--neutral-grey-300);
}

.input {
   background: none;
   border: 1px solid var(--primary);
   border-radius: 5px;
   padding: 5px 10px;
   color: var(--text-primary);
   margin-top: 5px;
   color: white;
}