.inputWrapper,
.textareaWrapper {
   display: flex;
   flex-direction: column;
   gap: 5px;
   margin-top: 10px;
}

.label {
   font-size: 14px;
   font-weight: 500;
   color: var(--neutral-grey-300);
}

.input {
   padding: 8px;
   border: 1px solid var(--primary);
   border-radius: 5px;
   font-size: 1rem;
   background: none;
   color: white;
}

.textarea {
   padding: 8px;
   border: 1px solid var(--primary);
   border-radius: 5px;
   font-size: 1rem;
   background: none;
   color: white;
   resize: vertical;
}
