.inputWrapper,
.textareaWrapper {
   display: flex;
   flex-direction: column;
   gap: 5px;
   margin-top: 10px;
}

.input {
   padding: 8px;
   border: 1px solid var(--primary);
   border-radius: 5px;
   font-size: 1rem;
   background: none;
   color: white;
}

.textarea {
   padding: 8px;
   border: 1px solid var(--primary);
   border-radius: 5px;
   font-size: 1rem;
   background: none;
   color: white;
   resize: vertical;
}

.table {
   width: 100%;
   margin-top: 10px;
}

.tableHeader,
.tableData {
   padding: 5px 10px;
   font-size: 12px;
   text-align: center;
}

.tableHeader {
   font-weight: 600;
   border-bottom: 2px solid var(--neutral-grey-300);
   color: var(--neutral-grey-300);
}

.tableData {
   border-bottom: 1px solid var(--neutral-grey-300);
}

.tableDateInput {
   padding: 5px;
   border: 1px solid var(--primary);
   border-radius: 5px;
   background: none;
   color: white;
   font-size: 12px;
}

.tableSelect {
   padding: 5px;
   border: 1px solid var(--primary);
   border-radius: 5px;
   background: none;
   color: white;
   font-size: 12px;
}

.tableInput {
   padding: 5px;
   border: 1px solid var(--primary);
   border-radius: 5px;
   background: none;
   color: white;
   font-size: 12px;
}
