.wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 95vw;
   margin: 0 auto;
}

.btnsWrapper {
   display: flex;
   gap: 10px;
   align-items: center;
   justify-content: center;
}
